# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env

# Production build directories
dist/
client/dist/
build/
client/build/
out/

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
